if info && info.length
  for message in info
    div(class="flash-info")
      span= message
if warning && warning.length
  for message in warning
    div(class="flash-notice")
      span= message
if success && success.length
  for message in success
    div(class="flash-success")
      span= message
if errors && errors.length
  for message in errors
    div(class="flash-error")
      span= message
